<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">MediaRadar</a>
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/AllAds']">1. All Ads</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/PublicationAds']">2. Filtered Ads</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/PublicationAds']">3. Top 5 Prduct Category</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/PublicationAds']">4. Top 5 Category</a>
          </li>
      </ul> 
    </div>
  </nav>
